<form action='/articles' method="POST">
<p>Article Title: <input type="text" name="title" id="title"></p>
<p>Content: <input type="text" name="content" id="content"></p>
<input type="submit" id="submit">
</form>