<h2><%=@article['title']%></h2>
<p><%=@article['content']%></p>
<form action="/articles/<%=@article.id%>" method="POST">
<input type="hidden" id="hidden" value="DELETE" name="_method">
<input type="submit" id="submit" value="delete">
</form>